* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff9f5;
    font-family: "Instrument Serif", serif;
}
.content {
    margin: 1.8rem 2.5rem;
}
.content h4 {
    text-align: center;
    font-weight: 400;
    font-size: 3.625rem;
    line-height: 3.8125rem;
    margin-bottom: 3rem;
}

.content .content_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
    width: 100%;
}
.content .content_menu .content_left {
    width: 560px;
    height: 691px;
    margin-top: 70px;
}
.content .content_menu .content_left img {
    width: 100%;
    height: 315px;
    margin-bottom: 24px;
}
.content .content_menu .content_left .menu {
    width: 100%;
    height: 352px;
}
.content .content_menu .content_left .menu .menu_item {
    border-top: 1px solid #f3eae5;
    padding: 10px 0;
}
/* .content .content_menu .content_left .menu .menu_item:last-child{
    border-top: 1px solid #F3EAE5;
    border-bottom: 1px solid #F3EAE5;
} */
.content .content_menu .content_left .menu .menu_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.content .content_menu .content_left .menu .menu_top h6 {
    font-size: 26px;
    color: #462b20;
    font-weight: 400;
    line-height: 28px;
}
.content .content_menu .content_left .menu .menu_top i {
    color: #693521;
}
.content .content_menu .content_left .menu .menu_top i {
    color: #693521;
}
.content .content_menu .content_left .menu .menu_bottom p {
    font-size: 15px;
    color: #42291fd9;
    font-weight: 400;
    line-height: 23px;
}
.content .content_menu .content_left .menu .menu_bottom p.hide {
    display: none;
}
.content .content_menu .content_right img {
    width: 706px;
    height: 991px;
}

@media screen and (max-width: 768px) {
    .content {
        margin: 1.8rem 2rem;
    }
    .content h4 {
        margin-bottom: 1rem;
    }
    .content .content_menu {
       
        flex-direction: column;
        flex-wrap: wrap;
       
        width: 100%;
    }
    .content .content_menu .content_left {
        width: 700px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .content .content_menu .content_left .menu .menu_top h6 {
        font-size: 35px;
        letter-spacing: 2px;
    }
    .content .content_menu .content_left .menu .menu_bottom p {
        margin-top: 15px;
        font-size: 25px; 
    }
}
@media screen and (max-width: 400px) {
    .content {
        margin: 1.8rem 1rem;
    }
    .content .content_menu .content_left {
        width: 100%;
        height: 690px;
        margin-top: 20px;
    }
   
   
    .content .content_menu .content_left .menu .menu_top h6 {
        font-size: 35px;
        letter-spacing: 2px;
    }
    .content .content_menu .content_left .menu .menu_bottom p {
        margin-top: 15px;
        font-size: 25px; 
    }
    .content .content_menu .content_right img {
        width: 100%;
        height: 500px;
    }
}

